{% include 'header.html' %}
<h1>Salut {{ name }}</h1>
<!-- Form which will send a POST request to the current URL -->
<form method="post">
    <label>Name:</label>
    <input name="name" />
    <label>Entreprise:</label>
    <input name="firm" />
    <label>Montant:</label>
    <input name="amount" type="number"/>
    <button>Save</button>
</form>

<h2>Firme: {{ firm }}</h2>
<h2>Montant: {{ amount }}</h2>
<h2>Total: {{ tot }}</h2>
<h3>TVA:    {% if ok %}
yay
{% endif %}</h3>
{% include 'footer.html' %}
