{% extends 'base.html' %}

{% block title %}Formulaire{% endblock %}

{% block content %}
<h1>Salut {{ model.name }}</h1>
<!-- Form which will send a POST request to the current URL -->
<form method="post">
    <label>Name:</label>
    <input name="name" />
    <label>Entreprise:</label>
    <input name="firm" />
    <label>Montant:</label>
    <input name="amount" type="number"/>
    <button>Save</button>
</form>

{% if model.show %}
<h2>Firme: {{ model.firm }}</h2>
<h2>Montant: {{ model.amount }}</h2>
<h2>Total: {{ model.tot }}</h2>
{% endif %}

{% endblock %}
